{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi urna tellus, consequat ut interdum eget, tincidunt
    venenatis risus. Aliquam consequat justo quis lacus malesuada iaculis. Nullam vitae fringilla purus, ut elementum
    augue. Praesent sed risus bibendum, maximus mauris ac, scelerisque erat. Sed iaculis orci a neque lobortis commodo.
    Nam maximus eleifend justo, ut mattis nisl feugiat molestie. Vivamus in risus augue. Suspendisse blandit tortor nec
    scelerisque aliquet. Quisque ultrices tortor ipsum, faucibus faucibus nisi venenatis at. Suspendisse eu nisl vel
    orci suscipit gravida. Maecenas pretium nulla odio, quis interdum massa accumsan et.</p>

<p>Cras ut nulla metus. Nulla egestas fermentum nunc sit amet dapibus. Phasellus porta, orci ac luctus ullamcorper,
    enim justo tempus mauris, sed varius tortor ex quis purus. Vivamus leo sapien, ullamcorper eget dapibus rhoncus,
    tempor ac neque. In hac habitasse platea dictumst. Mauris scelerisque velit justo, sed dictum erat auctor id. Morbi
    posuere placerat purus, a semper elit aliquam eget. Praesent venenatis urna elit, a vestibulum nulla tempus vel.</p>

{% endblock content %}